<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--security for backend-->
    <sec:http pattern="/backend/api/**"
              entry-point-ref="jwtAuthenticationEntryPoint"
              create-session="stateless">
        <sec:cors configuration-source-ref="corsSource"/>
        <sec:access-denied-handler ref="jwtAccessDeniedHandler"/>
        <sec:custom-filter before="PRE_AUTH_FILTER" ref="jwtExceptionFilter"/>
        <sec:custom-filter after="PRE_AUTH_FILTER" ref="jwtAuthenticationTokenFilter"/>
        <sec:csrf disabled="true"/>
    </sec:http>

    <!--security for jwt-->
    <sec:http pattern="/jwt/**"
              entry-point-ref="jwtAuthenticationEntryPoint"
              create-session="stateless"
              use-expressions="true">
        <sec:csrf disabled="true"/>
        <sec:cors configuration-source-ref="corsSource"/>
        <sec:custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter"/>
    </sec:http>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="jwtAuthenticationProvider" />
    </sec:authentication-manager>
    <sec:global-method-security pre-post-annotations="enabled"/>

    <bean id="jwtAuthenticationFilter" class="com.endsound.security.filter.JwtAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="authenticationSuccessHandler" ref="jwtAuthenticationSuccessHandler"/>
        <property name="authenticationFailureHandler" ref="jwtAuthenticationFailureHandler"/>
    </bean>

    <!--cors setting-->
    <bean id="corsSource" class="org.springframework.web.cors.UrlBasedCorsConfigurationSource">
        <property name="corsConfigurations">
            <map>
                <entry key="/**">
                    <bean class="org.springframework.web.cors.CorsConfiguration">
                        <property name="allowedMethods">
                            <list>
                                <value>GET</value>
                                <value>POST</value>
                                <value>PUT</value>
                                <value>DELETE</value>
                            </list>
                        </property>
                        <property name="allowedOrigins">
                            <list>
                                <value>http://localhost:4200</value>
                            </list>
                        </property>
                        <property name="allowedHeaders">
                            <list>
                                <value>*</value>
                            </list>
                        </property>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
</beans>